/* Estilos para el formulario de inicio de sesión */
#login {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#login h2 {
    text-align: center;
    color: #333;
}

#login form {
    display: flex;
    flex-direction: column;
}

#login label {
    margin-bottom: 8px;
}

#login input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#login button {
    background-color: #073776;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#login button:hover {
    background-color: #051f4b;
}
